<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>

    <header>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{url_for('order')}}">Order</a>
                </li>
            </ul>
                <button class="btn btn-primary" type="submit">Log In</button>
            </form>
            </div>
        </div>
        </nav>
    </header>
    <!-- Header image -->
    <div class="container-xl">
        <div class="card text-bg-dark">
            <img src="{{url_for('static', filename = 'img/donutHeader.jpg')}}" alt="artisanal donut" class="card-img">
            <div class="ms-5 card-img-overlay d-flex align-items-center">
                <div class="col-md-6">
                    <h3 class="card-title">Made fresh, every day</h3>
                    <p class="card-text">We craft new flavors using seasonal ingredients sourced from our local farmers. </p>
                    <button class="btn btn-primary btn-lg" type="button">Order a box</button>
                </div>
            </div>
        </div>
    </div>
    <!-- this weeks Specials -->
     <div class="container-sm mt-5">
        <h3>This Week's Specials</h3>
        <div class="row mt-5 justify-content-between" >
           <div class="col-sm mb-3 ">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Lemon Glaze</h5>
                        <p class="card-text">A "not too sweet" twist on a classic</p>
                        <a href="#" class="btn btn-primary">order a box</a>
                    </div>
                </div>
            </div>
            <div class="col-sm mb-3">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Lemon Glaze</h5>
                        <p class="card-text">A "not too sweet" twist on a classic</p>
                        <a href="#" class="btn btn-primary">order a box</a>
                    </div>
                </div>
            </div>
            <div class="col-sm mb-3">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Lemon Glaze</h5>
                        <p class="card-text">A "not too sweet" twist on a classic</p>
                        <a href="#" class="btn btn-primary">order a box</a>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>

</html>   