{% extends "layout.html" %}

{% block title %}
Admin
{% endblock %}

{% block main %}
<div class="container-sm mt-5"> 
    <div class="card my-5 col-md-6 mx-auto">
        <div class="card header">
            <h3 class="ms-3 mt-3">Log In</h3>
        </div>
        <div class="card-body col-8 mx-auto">
            <form>
                <div class="mb-3">
                    <label for="admin" class="form-label">Email address</label>
                    <input type="email" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control">
                </div>
                <div class="row mb-3 justify-content-center">
                    <button type="submit" class="btn btn-primary btn-lg">Log in</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}