{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}

{% set active_page = 'cart' %}
{% block head_include %}
    <script async type="module" src="{{ url_for('static', filename = 'cart.js')}}"></script>
{% endblock %}
{% block main %}

<div class="container-sm mt-5 mb-5">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h3> Your cart</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <!-- Cart items will be dynamically inserted here -->
        </div>
        <div class="card-footer">
            <div class="row mb-3 justify-content-end align-items-center">
                <div class="col-md-4 justify-content-between "> 
                    <div class="w-100 me-2 pb-2">
                        <label for="pickup date" class="form-label">Select a date up to 10 days in advance.</label>
                        <input type="date" id="pickup-date" class="form-control " name="pickup date" required> 
                    </div>
                    <div id="flash" class="text-end text-danger pb-2"> </div>
                    <div class="w-100">
                        <h5 class="mb-3 text-end">Total: $<span id="Checkout-total"></span></h5>
                        <button name="checkout" id= "checkout-btn" type = "button" class= "btn btn-primary btn-lg w-100" disabled>Checkout</button>
                    </div>
                
                </div>
            </div>
        </div>
    </div>        
</div>
{% endblock %}