{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}

{% set active_page = 'cart' %}
{% block head_include %}
    <script type="module" src="{{ url_for('static', filename = 'cart.js')}}"></script>
{% endblock %}
{% block main %}

<div class="container-sm mt-5 mb-5">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h3> Your cart</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <!-- Cart items will be dynamically inserted here -->
        </div>
        <div class="card-footer">
            <div class="row mb-3 justify-content-end align-items-center">
                <div id="flash" class="col-sm-4 text-end text-danger"> </div>
                <div class="col-md-4 d-flex justify-content-between "> 
                    <div class="w-100 me-2">
                        <label for="pickup date" class="form-label">Pick-up Date:</label>
                        <input type="date" class="form-control " name="pickup date"> 

                    </div>
                    <div class="w-100">
                        <h5 class="mb-2">Total: $<span id="Checkout-total">15.00</span></h5>
                        <button id="checkout-btn" class="btn btn-primary btn-lg w-100 disabled">Checkout</button>
                    </div>
                
                </div>
            </div>
        </div>
    </div>        
</div>
{% endblock %}