{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<div class="container-sm mt-5"> 
    <div class="row mb-5">
        <h2 class="text-center">continue to checkout</h2>
    </div>
    <div class="row">
        <div class="col">
            <div class="card my-5 mx-auto">
                <div class="card header">
                    <h3 class="ms-3 mt-3">Log In</h3>
                </div>
                <div class="card-body mx-auto">
                    <form action="{{url_for('create_sess')}}" method = "POST">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" name="email" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control">
                        </div>
                        <div class="row mb-3 justify-content-center">
                            <button type="submit" name="login_checkout" class="btn btn-primary btn-lg">Log in</button>
                        </div>
                        <div class="mb-3 text-center">
                            <p> dont have an account? 
                                <!--confirm route to final checkout-->
                                <a href="{{url_for('register', next = 'logged_checkout')}}" class="btn btn-link p-0">Register an account!</a>
                            </p>   
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card my-5 mx-auto">
                <div class="card-header">
                    <h3 class="ms-3 mt-3">Continue as Guest</h3>
                </div>
                <div class="card-body mx-auto">
                    <form>
                        <div class="row mb-3 justify-content-center">
                            <!--confirm checout route-->
                            <a class="btn btn-primary btn-lg" href="{{url_for('guest')}}">Proceed as Guest</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock %}