{% extends "layout.html" %}

{% block title %}
    Checkout
{% endblock %}

{% set active_page = 'cart' %}

{% block main %}
<!-- Checkout page content goes here -->
  <div class="container-sm mt-5"> 
    <div class="row mb-5">
        <h2 class="text-center">checkout</h2>
    </div>
    <div class="row">
<!-- Cart Summary Left side -->
        <div class="col">
           <div class="card">
                <div class="card-header">
                    <h3 class="ms-3 mt-3">Your Cart</h3>
                </div>
                {{% for box in order %}}
                <div class="card-body">
                    <div class="row mt-3">
                        <div class ="d-flex justify-content-between align-items-center">
                            <h5>{{name}}</h5>
                            <h5>${{"%.2f" price / 100 }}</h5>
                        </div>
                        {{% for flavor, qty in box.items.items() %}}
                        <div class ="d-flex justify-content-between align-items-center">
                            <p class="mb-0">{{flavor}}</p>
                            <p class="mb-0">{{qty}}</p>
                        </div>
                        {{% endfor %}}
                {{% endfor %}}
                <div class="card-footer text-end">
                {[% total block%]}
                    <h5>Total: ${{"%.2f" total / 100 }}</h5>
                    <p>Pickup Date: <span>{{ pickup_date }}</span></p>
                </div> 
                {{% end block %}}   
            </div>
        </div>
<!-- check out form Right side -->
        <div class="col">
 <!-- billing -->
            <div class="card my-1 mx-auto">
                <div class="card-header">
                    <h3 class="ms-3 mt-3">Billing address</h3>
                </div>
                <div class="card-body col-10 mx-auto">
                    <form>
                        <div class="row">
                            <div class="col mb-3">
                                <label for="firstName" class="form-label">First Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col mb-3">
                                <label for="lastName" class="form-label">Last Name</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="address1" class="form-label">Address line 1</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="address2" class="form-label">Address line 2
                            </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="City" class="form-label">City</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="State" class="form-label">State</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="zip" class="form-label">Zip Code</label>
                            <input type="text" class="form-control">
                        </div>
                    </form>
                </div>
            </div>
<!-- Card detail -->
            <div class="card my-1 mx-auto">
                <div class="card-header">
                    <h3 class="ms-3 mt-3">Pay with card</h3>
                </div>
                <div class="card-body col-10 mx-auto">
                    <form>
                        <div class="row">
                            <div class="col mb-3">
                                <label for="card_number" class="form-label">Card number</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="NameOnCard" class="form-label">Name on card</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
<!-- place order button -->
            <div class="row my-3 justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg">Place Order</button>
            </div>
        </div>
    </div>    
</div>
{% endblock %}
